*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}


.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: #f2f2f2;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;

}

.links > a:hover {
	text-decoration-line: none;
}

.m-b-md {
	margin-bottom: 30px;
}

.landing{
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .76), rgba(75, 129, 255, .5)),  url("../images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	/*overflow: hidden;*/
}


.landingSelect .card{ 
	border-radius: 0;
}

.absolute{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}


.approve-btn-show-request{
	position: absolute;
	right:  0;
}

.absoluteRight{
	position: absolute;
	right:  0 ;
	transform: translateY(0);
}

.setting{
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .45), rgba(75, 129, 255, .45)),  url("../images/settings.png");
	background-position: center;
	background-size: cover;
}

.create-note{
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .45), rgba(75, 129, 255, .45)),  url("../images/create_note.png");
	background-position: center;
	background-size: cover;
}

.dashboard{
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .45), rgba(75, 129, 255, .45)),  url("../images/dashboard.png");
	background-position: center;
	background-size: cover;
}

.users{
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .45), rgba(75, 129, 255, .45)),  url("../images/manage_users.png");
	background-position: center;
	background-size: cover;
}

.project{
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .45), rgba(75, 129, 255, .45)),  url("../images/project.png");
	background-position: center;
	background-size: cover;
}

.resources{
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .45), rgba(75, 129, 255, .45)),  url("../images/resources.png");
	background-position: center;
	background-size: cover;
}

.h1styling{
	/*object-fit: cover;*/
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .45), rgba(75, 129, 255, .45));

}

.selectButton h1{
	visibility: hidden;
	transition: 5;
}

.selectButton .optionName{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	transition: 5;
}

.dashboard:hover .optionName{
	visibility: visible;

}

.project:hover .optionName{
	visibility: visible;

}

.resources:hover .optionName{
	visibility: visible;

}

/*.users:hover .optionName{
	visibility: visible;

}

.create-note:hover .optionName{
	visibility: visible;

}

.setting:hover .optionName{
	visibility: visible;

}
*/

